@font-face {
    font-family: 'zabras';
    src: url('../fonts/zabars.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    font-size: 32px;
    background-image: url('../img/desert.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

canvas {
    display: block;
}

h1 {
    font-size: 64px;
    letter-spacing: 5px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 6.5);
    color: #FFCA1B;
    margin-bottom: 32px;
}

.mainContent {
    position: fixed;
}

.screen-border {
    border-radius: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 1.5);
}

.iconBar {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    gap:10px;

    img {
        height: 24px;
    }

    img:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}

.start-game-btn{
    width: 100%;
    position: absolute;
    top: 55px;
    left: 10px;
    display: flex;
    gap: 50px;
    justify-content: center;

    div,
    span {
        font-size: 42px;
        color: #FFCA1B;
        filter: drop-shadow(5px 5px 5px #222222df);

    }

    span {
        padding:10px;
    }
    
    span:hover{
        border-bottom: 1px solid #ffca1b88;
    }

    div:hover,
    span:hover{
        cursor: pointer;
        transform: scale(1.2);
    }
}

.info-img{
    position: absolute;
    top: 29px;
    left: 600px;
}

.info-img:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.info-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

.game-info {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    background: #ffca1b4b;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    letter-spacing: 1.5px;
    margin: 0 50px;
    padding: 25px 25px;
    gap: 20px;
}

h2 {
    font-size: 42px;
    letter-spacing: 2px;
    font-weight: 500;
}

.gameAdvises {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.d-none {
    display: none;
}

.controllBar {
    display: flex;
    justify-content: center;
    width: 720px;
    gap: 50px;
    padding-top: 20px;
}

footer {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 32px;
    font-family: sans-serif;
    font-size: 24px;
    gap: 20px;

    a {
        color: rgb(255, 255, 255);
    }

    a:hover {
        color: black;
    }
}
.info-icon{
    height: 50px;
    width: 50px;
}

.title-hide-btn{
    display: flex;
    justify-content: space-between;
}

.title-hide-btn span:hover{
    cursor: pointer;
}

.reload-img{
    height:86px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 5.1), 0 6px 20px rgba(0, 0, 0, 5.1);
    border-radius: 90%;
}

.mobile-controll{
    width: 100%;
    padding: 0 10px 10px 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.controll-position {
    display: flex;
    justify-content: space-between;

    div {
        display: flex;
        gap: 10px;
    }
}

.mobile-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 223, 2, 0.0);
    border: unset;
    height: 36px;

    img {
        height: 36px;
    }
}

.td-blue{
    color:darkblue;
}

td img{
    height:20px;
}

.full-screen img{
    height:33px;
}

.start-game-btn img:hover{
cursor: pointer;
}

a{
    padding-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
    text-decoration: none;
    font-size:20px;
}

a:hover{
    text-decoration: underline;
    color:blue;
}

#deviceNotice {
    background-image: url('../img/desert.png');
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    display: none;

    img {
        height: 120px;
    }

    span {
        font-size: 34px;
        text-align: center;
    }
}

#legal-links {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 18px;
    padding: 5px 15px;
    border-radius: 10px;
    width: auto;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}
#legal-links a {
    color: white;
    text-decoration: none;
    font-size:20px;
    margin: 0 10px;
}

/*RESPONSIVE*/

@media only screen and (max-width:720px) {


    .mainContent,
    .screen-border,
    canvas {
        box-shadow: none;
        border-radius: 0px;
        
    }

    h1,
    .controllBar,
    
    footer {
        display: none;
    }

    .info-img{
        left:600px;
    }
}

@media only screen and (max-width:1366px) {
body{
    padding: 0;
}

    .screen-border{
        width: 100vw;
        height: 100vh;
    }
}

@media only screen and (min-width:1024px) and (max-height:750px) {

    footer {
        display: none;
    }
    
}

@media only screen and (max-height:480px) {

    body,
    .mainContent,
    .screen-border,
    canvas {
        height: 100vh;
        padding: 0;
    }

    h1,
    #fullscreen,
    .controllBar,
    footer {
        display: none;
    }

    #startScreen,
    #winScreen,
    #loseScreen {
        height: 100%;
    }

}

@media only screen and (max-height:400px) {
    .game-info {
        font-size: 20px;
    }
    body{
        justify-content: center;
        padding: 0;
    }
}

@media only screen and (max-height:820px) {
    body{
        justify-content: center;
        padding: 0;
    }
}



@media (orientation: portrait) and (max-width: 1024px) {

    #deviceNotice {
        display: flex;
    }

    body{
        justify-content: center;
        padding: 0;
    }
}

