@font-face {
    font-family: 'zabras';
    src: url('../fonts/zabars.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin:0;
    background-image: url('../img/desert.png');
    background-position: center;
    background-size: cover;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    height: 100vh;
}

h1{
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

canvas{
    background-color: black;
    display: block;
    max-width: 100%; /* Ensures it scales properly */
    max-height: 100vh;
}

.d-none {
    display: none;
}

/*Smartphones width*/
@media only screen and(max-width:720px){
    canvas{
        width: 100%;
        height:auto;
    }
    h1{
        display: none;
    }
   
}

.btnBar {
    position: absolute;
    top: 36%;
    left: 51%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.695);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: 24px;
}

/*Smartphones height*/
@media only screen and (max-height:480px) {
    canvas{
        height: 100vh;
        width:auto;
    }

    h1{
        display: none;
    }
  
}
